<html>
<head>
<noscript>
    <meta http-equiv="Refresh" content="0;url=https://payment.allopass.com/error.apu?ids=298783&idd=1272560">
</noscript>

<script type="text/javascript" src="https://payment.allopass.com/api/secure.apu?ids=298783&idd=1272560"></script>

<script type="text/javascript">
    //<![CDATA[
        if(typeof loaded == 'undefined') {
            window.location.href = 'https://payment.allopass.com/error.apu?ids=298783&idd=1272560';
        }
    //]]>
</script>

</head>
<body>
<h2>felicitaciones, tu pago se acredito</h2>
</body>
</html>