<html>
<head>
    

<!-- <script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script> -->
 <script src="http://cdn.jquerytools.org/1.2.7/full/jquery.tools.min.js"></script>
<script src='http://datejs.googlecode.com/svn/trunk/build/date.js'></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/anonimo.js"></script>
  <script src="http://twitter.github.com/bootstrap/assets/js/bootstrap-tab.js"></script>
<link rel="stylesheet" href="/client.css"/>

    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/bootstrap-responsive.min.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/social-buttons.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/style.css" rel="stylesheet" />
    <link href="http://wbpreview.com/previews/WB00B8422/css/custom.css" rel="stylesheet" />
     <link href="http://wbpreview.com/previews/WB009X3K4/buttons.css" rel="stylesheet" />
    
<style type="text/css">
    body{padding-top: 10px;}
    h1,h2,h3{color: rgb(41, 70, 125); }


    li.message{
        width: 550px;
        background-color: white;
        margin-left: 10px;
    }
</style>

</head>
<body>


<script src='http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js'></script>

</head>
<body>
<b>Server: </b><%= server %><br/>
<b>Title: </b><%= title %>
<br/>
<% if(user) { %>
<b>User: </b> <label id="user"><%= user %></label> <a href="/logout" style='color:blue;text-decoration: underline'> Log out</a>
<% }else{%>
    <script>
     location.reload();
     </script>
<% } %>


<div id="channel" class="bordered">

    <div id="msgs">
       

        <ul>
            <li class="message" style="display: none">
                <span class="user"></span><span class="message"></span>
                <span class="time"></span>
            </li>
            <li class="control" style="display: none">
                <span class="user"></span>&nbsp;<span class="message"></span>
                <span class="time"></span>
            </li>
        </ul>
    </div>
    <div id="input">
        <form><input type="text" data-chat-to="<%= nick %>" id="message"/></form>
    </div>
</div>

</body>
</html>