
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChatMe.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
   <link href="/chatme/css/bootstrap.css" rel="stylesheet">
    <link href="/chatme/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/chatme/css/docs.css" rel="stylesheet">
    <link href="/chatme/js/google-code-prettify/prettify.css" rel="stylesheet">
    
    
<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
 <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/chatme/img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/chatme/img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/chatme/img/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/chatme/img/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/chatme/img/ico/favicon.png">

  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="./index.html"><img src="/chatme/img/logo3.png"></a>
          <div class="nav-collapse collapse">
            <ul class="nav">
                            <li class="">
                <a href="/talks">Conversaciones</a>
              </li>
              <li class="active">
                <a href="/profile">Perfil</a>
              </li>
              <li class="">
                <a href="/friends">Amigos</a>
              </li>
              <li class="">
            <a href="/explore">Explorar</a>
            </li>
            <li class="">
              <a href="/logout">Salir</a>
              </li>
                          </ul>
          </div>
        </div>
      </div>
    </div>


<div class="container">   <div id="amigos">
        <div id="destacados">
        <h1><strong>★</strong> Destacados</h1>
                <div id="caja">
        <div class="row" >
        
              
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Victoria Aimará" data-toggle="tooltip"  alt="" target="_blank" href="nick/victoriaimara/index.html">
            <img width="100"  src="https://graph.facebook.com/1516717000/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Cesar Gabriel Slabosevicius" data-toggle="tooltip"  alt="" target="_blank" href="nick/cslabosevicius/index.html">
            <img width="100"  src="https://graph.facebook.com/1455936812/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Bruno Matias" data-toggle="tooltip"  alt="" target="_blank" href="nick/satoukun/index.html">
            <img width="100"  src="https://graph.facebook.com/1390683809/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Andi Froy" data-toggle="tooltip"  alt="" target="_blank" href="nick/andichancho/index.html">
            <img width="100"  src="https://graph.facebook.com/1331258280/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Matias Agustin" data-toggle="tooltip"  alt="" target="_blank" href="nick/matias.agustin.773">
            <img width="100"  src="https://graph.facebook.com/100000161814245/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Matías Brugnoli" data-toggle="tooltip"  alt="" target="_blank" href="nick/matias.brugnoli">
            <img width="100"  src="https://graph.facebook.com/1260368072/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Dumas Montenegro" data-toggle="tooltip"  alt="" target="_blank" href="nick/dumas.montenegro">
            <img width="100"  src="https://graph.facebook.com/100000369143754/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Analia Zwenger" data-toggle="tooltip"  alt="" target="_blank" href="nick/aanii.z">
            <img width="100"  src="https://graph.facebook.com/1408688247/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con Guapos DEL Comil" data-toggle="tooltip"  alt="" target="_blank" href="nick/guapos.delcomil">
            <img width="100"  src="https://graph.facebook.com/100005595942281/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
              
            <a title="Entra y habla con German N. Montenegro" data-toggle="tooltip"  alt="" target="_blank" href="nick/gnm3000/index.html">
            <img width="100"  src="https://graph.facebook.com/1199612263/picture?width=100&height=100" />
            </a>
            </div>
            
               <div style="text-align:center;float:left">
               <a title="Entra y habla con Germán Martinez" data-toggle="tooltip"  alt="" target="_blank" href="nick/Martinez.German">
               <img width="100"  src="https://graph.facebook.com/1484657556/picture?width=100&height=100" />
               </a>
               </div>
               
                  <div style="text-align:center;float:left">
                 
               <a title="Entra y habla con Ro Mina" data-toggle="tooltip"  alt="" target="_blank" href="nick/rominatrim/index.html">
               <img width="100"  src="https://graph.facebook.com/1268906813/picture?width=100&height=100" />
               </a>
               </div>
               
                  <div style="text-align:center;float:left"><a title="Entra y habla con Jorge E Ortiz" data-toggle="tooltip"  alt="" target="_blank" href="nick/jorge.e.ortiz.79">
                  <img width="100"  src="https://graph.facebook.com/1536533482/picture?width=100&height=100" />
                  </a>
                  </div>
                  
                     <div style="text-align:center;float:left">
                    
                  <a title="Entra y habla con Juan Pedro López" data-toggle="tooltip"  alt="" target="_blank" href="nick/juanpedrolz/index.html">
                  <img width="100"  src="https://graph.facebook.com/632554049/picture?width=100&height=100" />
                  </a>
                  </div><div style="text-align:center;float:left">
                    
                  <a title="Entra y habla con Cristian Romero" data-toggle="tooltip"  alt="" target="_blank" href="nick/cristian.romero.37669">
                  <img width="100"  src="https://graph.facebook.com/1240232632/picture?width=100&height=100" />
                  </a>
                  </div></div></div>
                  
      <a href="/promote" class="btn btn-info">★ Aparecer Aquí ★</a>  
</div> 
<div id="destacados">      
<div class="row">
<div class="span3"><h2>Quiero:</h2><label class="checkbox">
   <input type="checkbox"> Chatear
 </label><label class="checkbox">
    <input type="checkbox"> Hacer Amigos
  </label><label class="checkbox">
     <input type="checkbox"> Una Cita
   </label></div>
<div class="span3"><h2>Con:</h2><label class="checkbox">
   <input type="checkbox"> Chicos
 </label><label class="checkbox">
    <input type="checkbox"> Chicas
  </label><select id="select01">
                  <option>Edad</option>
                  <option>18-25</option>
                  <option>25-30</option>
                  <option>30-35</option>
                  <option>35-40</option>
                                    <option>40-45</option>
                                                                        <option>45-50</option>
                                    
                  
                </select></div>
<div class="span3"><h2>Vive en:</h2><select id="select01">
                <option>Corrientes,Argentina</option>
                <option>Resistencia,Argentina</option>
                <option>Posadas,Argentina</option>
                <option>Buenos Aires,Argentinas</option>
                                  <option>Rosario,Argentina</option>
                                                                      <option>Rosario,Argentina</option></div></select></div>
                                                                      


</div>                                                                      <br><a href="#" class="btn btn-info">Explorar</a>  

</div>
<div class="row-fluid">
            <ul class="thumbnails">
              <li class="span3"><div class="online">
                <div class="thumbnail">
                
                  <img src="/chatme/img/perfil/2.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Diego Rofriguez</h3>
                    <p>Boxeador, vivo en Goya...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div></div>
              </li>
              <li class="span3"><div class="online">
              
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/1.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Juana Corderon</h3>
                    <p>Periodista, vivo en Resistencia...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div></div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/3.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Lio Messi</h3>
                    <p>Futbolista, vivo en Barcelona...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div>
              </li><li class="span3">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/4.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Claudio Pez</h3>
                    <p>Actor, vivo en Resistencia...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div>
              </li>
            </ul><ul class="thumbnails">
              <li class="span3">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/5.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Frida Kahlo</h3>
                    <p>Artista, vivo en Mexico DF...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div>
              </li>
              <li class="span3">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/6.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Nicolás Torre </h3>
                    <p>Carpintero, vivo en Corrientes...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div>
              </li>
              <li class="span3"><div class="online">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/7.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Florencia Toms</h3>
                    <p>Estudiante, vivo en Buenos Aires...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div></div>
                </div>
              </li><li class="span3">
                <div class="thumbnail">
                  <img src="/chatme/img/perfil/8.jpg" class="img-polaroid" >
                  <div class="caption">
                    <h3>Zooey Deschanel</h3>
                    <p>Actriz, vivo en Los Angeles...</p>
                    <p><div id="iconos2"><a class="btn btn-seg" href="#"><strong>125</strong></a>
                    <a class="btn btn-pun" href="#"> <strong>4/5</strong></a><a class="btn btn-gusta" href="#"><strong>150</strong></a>
                   
                    
                    </div><a href="#" class="btn btn-info">Seguir</a> </p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
</div>




<div id="menu-ab">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
<ul class="nav">
                <li class="">
    <a href="">Privacidad</a>
  </li>
  <li class="">
    <a href="">Condiciones</a>
  </li>
  <li class="">
    <a href="">Quienes Somos</a>
  </li>
  <li class="">
    <a href="">Publicidad</a>
  </li>
  <li class="">
    <a href="">Contáctanos</a>
  </li><li class="">
    <a href="">Blog</a>
  </li>
              </ul><div class="cm"> © 2013 ChatMe.fm</div>
    </div>
  </div></div>
</div>



    <!-- Footer
    ================================================== -->
    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="/chatme/js/jquery.js"></script>
    <script src="/chatme/js/bootstrap-transition.js"></script>
    <script src="/chatme/js/bootstrap-alert.js"></script>
    <script src="/chatme/js/bootstrap-modal.js"></script>
    <script src="/chatme/js/bootstrap-dropdown.js"></script>
    <script src="/chatme/js/bootstrap-scrollspy.js"></script>
    <script src="/chatme/js/bootstrap-tab.js"></script>
    <script src="/chatme/js/bootstrap-tooltip.js"></script>
    <script src="/chatme/js/bootstrap-popover.js"></script>
    <script src="/chatme/js/bootstrap-button.js"></script>
    <script src="/chatme/js/bootstrap-collapse.js"></script>
    <script src="/chatme/js/bootstrap-carousel.js"></script>
    <script src="/chatme/js/bootstrap-typeahead.js"></script>
    <script src="/chatme/js/bootstrap-affix.js"></script>

    <script src="/chatme/js/holder/holder.js"></script>
    <script src="/chatme/js/google-code-prettify/prettify.js"></script>

    <script src="/chatme/js/application.js"></script>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');
$("a").tooltip();
</script>



  </body>
</html>
