
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>ChatMe.fm</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <base href="http://nicotorre.com.ar/chatme/"></base>
    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="css/demo.css" />
    <link rel="stylesheet" type="text/css" href="css/style1.css" />
    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/bootstrap-responsive.css" rel="stylesheet">
    <link href="css/docs.css" rel="stylesheet">
    
    <link href="js/google-code-prettify/prettify.css" rel="stylesheet">
  
    <script type="text/javascript" src="js/modernizr.custom.86080.js"></script>
    
<link href='http://fonts.googleapis.com/css?family=Signika+Negative' rel='stylesheet' type='text/css'>
    

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="assets/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="img/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="img/ico/favicon.png">

  </head>
<body id="page">
    <ul class="cb-slideshow">
        <li><span>Image 01</span><div></div></li>
        <li><span>Image 02</span><div></div></li>
        <li><span>Image 03</span><div></div></li>
        <li><span>Image 04</span><div></div></li>
        <li><span>Image 05</span><div></div></li>
        <li><span>Image 06</span><div></div></li>
    </ul>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">

    <!-- Navbar
    ================================================== -->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
      <div class="container">
          
          <a class="brand" href="./index.html" data-original-title="" title=""><img src="img/logo2.png"></a>
          <div class="nav-collapse collapse">
            <h3>En Construcción</h3>
          </div>
        </div>
      </div>
    </div>

<div class="jumbotron masthead">
  <div class="container">
  <div class="row">
   <div class="span6">
  <div id="logo"><img src="img/logo.png"></div>
    <p>Crea una cuenta y permite a las personas que visitan tu perfil conversar contigo anónimamente. </p>
      </div>     <div class="span6">
      <div id="bgf"><form class="well form-inline">
      <h3>Ingresar</h3>
        <input type="text" class="input-small" placeholder="Email">
        <input type="password" class="input-small" placeholder="Contraseña">
        <button type="submit" class="btn-info">Entrar</button><br>
                <label class="checkbox">
          <input type="checkbox"> Recordar mis datos
        </label> <a href="http://www.facebook.com/">¿Olvidaste tu Contraseña?</a>
        <div class="face">Ingresar con <strong>Facebook</strong></div>
        <div id="nuevo">
        <h4>¿Sos nuevo en ChatMe? Regístrate<br>
        ¡Solo lleva unos segundos!</h4><br><button type="info" class="btn-info">Crear una cuenta</button><br><br></div>
      </form>
      </div></div>
</div></div></div>

<div class="container">
<div id="facebook"><h3>Mira quien esta aquí...</h3><br>
<div class="row" >

      
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Victoria Aimará" data-toggle="tooltip"  alt="" target="_blank" href="nick/victoriaimara/index.html">
    <img width="100"  src="https://graph.facebook.com/1516717000/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Cesar Gabriel Slabosevicius" data-toggle="tooltip"  alt="" target="_blank" href="nick/cslabosevicius/index.html">
    <img width="100"  src="https://graph.facebook.com/1455936812/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Bruno Matias" data-toggle="tooltip"  alt="" target="_blank" href="nick/satoukun/index.html">
    <img width="100"  src="https://graph.facebook.com/1390683809/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Andi Froy" data-toggle="tooltip"  alt="" target="_blank" href="nick/andichancho/index.html">
    <img width="100"  src="https://graph.facebook.com/1331258280/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Matias Agustin" data-toggle="tooltip"  alt="" target="_blank" href="nick/matias.agustin.773">
    <img width="100"  src="https://graph.facebook.com/100000161814245/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Matías Brugnoli" data-toggle="tooltip"  alt="" target="_blank" href="nick/matias.brugnoli">
    <img width="100"  src="https://graph.facebook.com/1260368072/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Dumas Montenegro" data-toggle="tooltip"  alt="" target="_blank" href="nick/dumas.montenegro">
    <img width="100"  src="https://graph.facebook.com/100000369143754/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Analia Zwenger" data-toggle="tooltip"  alt="" target="_blank" href="nick/aanii.z">
    <img width="100"  src="https://graph.facebook.com/1408688247/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con Guapos DEL Comil" data-toggle="tooltip"  alt="" target="_blank" href="nick/guapos.delcomil">
    <img width="100"  src="https://graph.facebook.com/100005595942281/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
      
    <a title="Entra y habla con German N. Montenegro" data-toggle="tooltip"  alt="" target="_blank" href="nick/gnm3000/index.html">
    <img width="100"  src="https://graph.facebook.com/1199612263/picture?width=100&height=100" />
    </a>
    </div>
    
       <div style="text-align:center;float:left">
       <a title="Entra y habla con Germán Martinez" data-toggle="tooltip"  alt="" target="_blank" href="nick/Martinez.German">
       <img width="100"  src="https://graph.facebook.com/1484657556/picture?width=100&height=100" />
       </a>
       </div>
       
          <div style="text-align:center;float:left">
         
       <a title="Entra y habla con Ro Mina" data-toggle="tooltip"  alt="" target="_blank" href="nick/rominatrim/index.html">
       <img width="100"  src="https://graph.facebook.com/1268906813/picture?width=100&height=100" />
       </a>
       </div>
       
          <div style="text-align:center;float:left"><a title="Entra y habla con Jorge E Ortiz" data-toggle="tooltip"  alt="" target="_blank" href="nick/jorge.e.ortiz.79">
          <img width="100"  src="https://graph.facebook.com/1536533482/picture?width=100&height=100" />
          </a>
          </div>
          
             <div style="text-align:center;float:left">
            
          <a title="Entra y habla con Juan Pedro López" data-toggle="tooltip"  alt="" target="_blank" href="nick/juanpedrolz/index.html">
          <img width="100"  src="https://graph.facebook.com/632554049/picture?width=100&height=100" />
          </a>
          </div>
          
             <div style="text-align:center;float:left">
            
          <a title="Entra y habla con Cristian Romero" data-toggle="tooltip"  alt="" target="_blank" href="nick/cristian.romero.37669">
          <img width="100"  src="https://graph.facebook.com/1240232632/picture?width=100&height=100" />
          </a>
          </div>
          
             <div style="text-align:center;float:left"><a title="Entra y habla con Miranda Ximena" data-toggle="tooltip"  alt="" target="_blank" href="nick/mirandaximenahaas/index.html">
             <img width="100"  src="https://graph.facebook.com/100000043114212/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Florencia López M" data-toggle="tooltip"  alt="" target="_blank" href="nick/flopezmealla/index.html">
             <img width="100"  src="https://graph.facebook.com/1204784518/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Jose Chatelet" data-toggle="tooltip"  alt="" target="_blank" href="nick/josechatelet/index.html">
             <img width="100"  src="https://graph.facebook.com/1163046843/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Adrian Emanuel Encina" data-toggle="tooltip"  alt="" target="_blank" href="nick/elyakareDJ/index.html">
             <img width="100"  src="https://graph.facebook.com/100003496945989/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Marcelo López" data-toggle="tooltip"  alt="" target="_blank" href="nick/marcelolopez147/index.html">
             <img width="100"  src="https://graph.facebook.com/1400228252/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Luis Portillo" data-toggle="tooltip"  alt="" target="_blank" href="nick/luisiluck/index.html">
             <img width="100"  src="https://graph.facebook.com/703940722/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Agostina Mendoza" data-toggle="tooltip"  alt="" target="_blank" href="nick/agoos06/index.html">
             <img width="100"  src="https://graph.facebook.com/100000071343409/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Aymara Rojas Fusz" data-toggle="tooltip"  alt="" target="_blank" href="nick/aymara.rojasfusz">
             <img width="100"  src="https://graph.facebook.com/100005286578978/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Mati Mendoza" data-toggle="tooltip"  alt="" target="_blank" href="nick/mati.mendoza.14">
             <img width="100"  src="https://graph.facebook.com/100001148188124/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Maria Luz Piedrabuena" data-toggle="tooltip"  alt="" target="_blank" href="nick/marialuz.pb">
             <img width="100"  src="https://graph.facebook.com/1600299869/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Ivan Rossetti" data-toggle="tooltip"  alt="" target="_blank" href="nick/ivan.rossetti.94">
             <img width="100"  src="https://graph.facebook.com/100000260090378/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Marian Awc" data-toggle="tooltip"  alt="" target="_blank" href="nick/marian.awc.9">
             <img width="100"  src="https://graph.facebook.com/100003622269719/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left">
               
             <a title="Entra y habla con Juan Gabriel Goiriz" data-toggle="tooltip"  alt="" target="_blank" href="nick/gabriel.goiriz">
             <img width="100"  src="https://graph.facebook.com/1513210408/picture?width=100&height=100" />
             </a>
             </div>
             
                <div style="text-align:center;float:left"><a title="Entra y habla con Bimbo Gomez" data-toggle="tooltip"  alt="" target="_blank" href="nick/bimboo.gomez">
                <img width="100"  src="https://graph.facebook.com/1296698506/picture?width=100&height=100" />
                </a>
                </div>
                
                   <div style="text-align:center;float:left">
                  
                <a title="Entra y habla con Maauroo Pioojo" data-toggle="tooltip"  alt="" target="_blank" href="nick/maauroo.del.juan.23">
                <img width="100"  src="https://graph.facebook.com/100003462254031/picture?width=100&height=100" />
                </a>
                </div>
                
                   <div style="text-align:center;float:left">
             
         </div></div></div>


<div id="menu-ab">
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
<ul class="nav">
                <li class="">
    <a href="">Privacidad</a>
  </li>
  <li class="">
    <a href="">Condiciones</a>
  </li>
  <li class="">
    <a href="">Quienes Somos</a>
  </li>
  <li class="">
    <a href="">Publicidad</a>
  </li>
  <li class="">
    <a href="">Contáctanos</a>
  </li><li class="">
    <a href="">Blog</a>
  </li>
              </ul><div class="cm"> © 2013 ChatMe.fm</div>
    </div>
  </div></div>
</div>



    <!-- Footer
    ================================================== -->
    


    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script src="js/jquery.js"></script>
      <script src="js/bootstrap-tab.js"></script>
    <script src="js/bootstrap-tooltip.js"></script>
     <script src="js/bootstrap-button.js"></script>
       
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-39678978-1', 'chatme.fm');
  ga('send', 'pageview');
$("a").tooltip();
</script>


  </body>
</html>
