<h2>Regalar usuario</h2>
<h3>Estos son los regalos que tenes disponibles</h3>
<ul>
  
  <li><a href="">Regalo 1</a></li>
</ul>
<!-- Begin Allopass Checkout-Button Code -->
<script type="text/javascript" src="https://payment.allopass.com/buy/checkout.apu?ids=298783&idd=1295946&lang=en"></script>
<noscript>
 <a href="https://payment.allopass.com/buy/buy.apu?ids=298783&idd=1295946" style="border:0">
  <img src="https://payment.allopass.com/static/buy/button/en/162x56.png" style="border:0" alt="Buy now!" />
 </a>
</noscript>
<!-- End Allopass Checkout-Button Code -->