<<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<noscript>
    <meta http-equiv="Refresh" content="0;url=https://payment.allopass.com/error.apu?ids=298783&idd=1295946">
</noscript>

<script type="text/javascript" src="https://payment.allopass.com/api/secure.apu?ids=298783&idd=1295946"></script>

<script type="text/javascript">
    //<![CDATA[
        if(typeof loaded == 'undefined') {
            window.location.href = 'https://payment.allopass.com/error.apu?ids=298783&idd=1295946';
        }
    //]]>
</script>
<h2>Felicitaciones!</h2>
<p>Su pago se ha acreditado! Ahora puede regalar a los usuarios! Regrese a la pantalla del usuario!	</p>
</body>
</html>