
p {
    font-size: 16px;
    line-height: 25px;
    margin-top: 1.5em;
}


input.input-large {
    padding: 9px 14px;
}

div.gradient {
    background: url(../img/gradient.png) no-repeat top center;
    min-height: 770px;
}

div.content {
    text-align: center;
    margin-top: 1.5em;
}

a.sb.gplus,
.sb a.gplus {
	background-image: url(../img/social-buttons/gplus.png);
}